@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
}

body {
    margin:50px auto;
    width:70%;
    justify-content: center;
    font-family: 'Teko', sans-serif;
    background: linear-gradient(white, rgb(243, 200, 121))
} 

header {
    margin-top: -50px;
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
}

header .jpix-logo {
    display: block;
    margin: 0 auto;
}

nav {
    border-top: solid 3px #000;
    border-bottom:solid 3px #000;
    overflow: hidden;
    height: 50px;
    margin-bottom: 30px;
   
}

ul li {
    list-style: none;
    width: 24%;
    float: left;
    border-right: solid 1px #000;
    background-color: orange;
} 

.first-nav {
    border-left: solid 1px #000;
}

li a {
    text-decoration: none;
    color: #000;
    line-height: 50px;
    display: block;
    text-align: center;
}

li a:hover {
    background-color: rgb(23, 55, 235);
    transition: all 0.5s ease-in-out;
    color: orange;
    text-shadow: 0 5px 15px rgb(221, 141, 36);
    box-shadow: 0 5px 15px rgb(26, 61, 218);
    overflow: visible;
}

.about-title {
    padding: 20px;
    padding-top: 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
    float: right;
    border-left: solid 3px #000;
    height: 350px;
    text-shadow: 0 5px 15px rgb(221, 141, 36);
}

.about-section {
    height: 500px;
}

.about-section .headshot-container {
    margin-right: 20px;
    margin-top: 50px;
    padding-left: 20px;
    float: left;
}

.headshot {
    height: 300px;
    width: 300px;
    border: solid 5px orange;
    border-radius: 50%;
}

.about-section p {
    margin-top: 0;
    padding: 10px;
    padding-left: 20px;
    width: 85%;
    font-size: 125%;
}

.work-section {
    height: 950px;
    padding-top: 2rem;
}

.work-title {
    padding: 20px;
    padding-top: 0px;
    float: left;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-right: solid 3px black;
    height: 600px;
    text-shadow: 0 5px 15px rgb(221, 141, 36);
}

.past-work {
    width: 80%;
    margin-right: 77px;
    margin-left: 10px;
    padding: 5px;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    height: 200px;
    width: 45%;
    margin: 10px;
    margin-left: 17px;
    border: solid 4px orange;
    display: flex;
    flex: wrap;
    flex-direction: row;
}

.most-recent-project {
    height: 400px;
    width: 100%;
    border: solid 4px orange;
    margin-bottom: 10px;
    display: flex;
}

.project-title {
    width: 25%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    background-color: blue;
    align-self: flex-end;
    margin-bottom: 10px;
    z-index: 2;
}

.project-link {
    text-decoration: none;
    color: orange;
}

.contact-section {
    height: 300px;
}

.contact-title {
    float: right;
    border-left: solid 3px black;
    padding: 20px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
